# Configuración de base de datos
DB_NAME=sgej_juridico
DB_USER=sgej_user
DB_PASSWORD=supersecretpassword
DB_HOST=db
DB_PORT=3306

# Configuración de Django
DEBUG=True
SECRET_KEY=cambia-esta-clave-por-una-larga-y-segura
# Para acceder desde otras PCs de la comunidad, usa la IP del servidor, ej: 192.168.1.50
ALLOWED_HOSTS=localhost,127.0.0.1,192.168.1.50

# Seguridad y otros
FERNET_MASTER_KEY=genera-una-clave-segura-aqui
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
USE_REDIS=False
